Repository FocusKabinet/focus, pull requests merged in 2021-06, with the labels that each got.

#27 Kabinet Trendings v1
  package-lock.json
  package.json
  src/App.js
  src/components/kabinet/GoogleTrends.js
  src/components/kabinet/Navigation.js
  src/components/kabinet/News.js
  src/components/kabinet/ScrollToTop.js
  src/components/kabinet/styles/Navigation.scss
  src/components/kabinet/styles/News.scss
  src/components/kabinet/styles/Page.scss
  src/components/kabinet/styles/ScrollToTop.scss
  src/helpers/kabinetHelpers.js
  src/pages/KabinetDashboard.js
  src/pages/KabinetTrendings.js
  src/routes/KabinetRoutes.js
Labels: init commit

#28 redux loading overlay
  src/components/kabinet/LoadingOverlay.js
  src/components/kabinet/News.js
  src/components/kabinet/Page.js
  src/components/kabinet/ScrollToTop.js
  src/helpers/kabinetHelpers.js
  src/index.js
  src/redux/actions/loading.js
  src/redux/reducers/index.js
  src/redux/reducers/loading.js
  src/redux/store.js
Labels: init commit, kabinet

#31 redux notification system
  src/components/kabinet/KabinetForm.js
  src/components/kabinet/Notification.js
  src/components/kabinet/Page.js
  src/components/kabinet/styles/Notification.scss
  src/helpers/kabinetHelpers.js
  src/redux/actions/notification.js
  src/redux/reducers/index.js
  src/redux/reducers/notification.js
Labels: init commit, kabinet

#33 fix kabinet form image gets deleted when submit
  src/components/kabinet/KabinetForm.js
  src/helpers/kabinetHelpers.js
Labels: bug, kabinet

#32 Create pull_request_template.md
  .github/pull_request_template.md
Labels: documentation, init commit

#35 minor visual upgrade
  src/components/kabinet/IdeaCard.js
  src/components/kabinet/Navigation.js
  src/components/kabinet/News.js
  src/components/kabinet/styles/IdeaCard.scss
  src/components/kabinet/styles/Page.scss
  src/pages/KabinetDashboard.js
  src/pages/KabinetTrendings.js
Labels: init commit, kabinet

#36 minor upgrade to kabinet form
  src/components/kabinet/GoogleTrends.js
  src/components/kabinet/IdeaCard.js
  src/components/kabinet/KabinetForm.js
  src/components/kabinet/KeywordTags.js
  src/components/kabinet/News.js
  src/components/kabinet/styles/GoogleTrends.scss
  src/components/kabinet/styles/KeywordTags.scss
  src/components/kabinet/styles/News.scss
  src/components/kabinet/styles/Page.scss
  src/components/kabinet/styles/ScrollToTop.scss
Labels: init commit, kabinet

#40 Update Task Popup
  package-lock.json
  package.json
  src/components/Focus/DoneTasks.js
  src/components/Focus/TaskList.js
  src/components/Focus/TaskPopup.js
  src/components/Focus/Timer.js
  src/components/Focus/styles/PinnedTask.scss
  src/components/Focus/styles/TaskPopup.scss
  src/components/Focus/styles/Timer.scss
  src/components/Focus/styles/TimerCard.scss
  src/pages/Datapage.js
  src/pages/Focus.js
  src/pages/styles/DataPage.scss
  src/pages/styles/Focus.scss
  src/redux/actions/task.js
  src/redux/reducers/task.js
  src/redux/store.js
Labels: enhancement

#39 [wip][do-not-merge] Kabinet user interaction beta v1
  package-lock.json
  package.json
  public/index.html
  src/app/firebase.js
  src/components/kabinet/GoogleTrends.js
  src/components/kabinet/IdeaCard.js
  src/components/kabinet/KabinetForm.js
  src/components/kabinet/KeywordTags.js
  src/components/kabinet/LoadingOverlay.js
  src/components/kabinet/Navigation.js
  src/components/kabinet/News.js
  src/components/kabinet/Notification.js
  src/components/kabinet/Page.js
  src/components/kabinet/TopBar.js
  src/components/kabinet/styles/GoogleTrends.scss
  src/components/kabinet/styles/IdeaCard.scss
  src/components/kabinet/styles/KabinetForm.scss
  src/components/kabinet/styles/KeywordTags.scss
  src/components/kabinet/styles/Page.scss
  src/components/kabinet/styles/ScrollToTop.scss
  src/components/kabinet/styles/TopBar.scss
  src/helpers/kabinetHelpers.js
  src/helpers/kabinetProfile.js
  src/helpers/kabinetUserInteractions.js
  src/helpers/kabinetUtils.js
  src/pages/KabinetAuth.js
  src/pages/KabinetDashboard.js
  src/pages/KabinetProfile.js
  src/pages/KabinetTrendings.js
  src/pages/styles/KabinetAuth.scss
  src/pages/styles/KabinetDashboard.scss
  src/pages/styles/KabinetProfile.scss
  src/redux/actions/kabinetBookmarks.js
  src/redux/actions/kabinetUser.js
  src/redux/reducers/index.js
  src/redux/reducers/kabinetBookmarks.js
  src/redux/reducers/kabinetUser.js
  src/routes/KabinetRoutes.js
  src/utils/localStorage.js
Labels: DONOTMERGE, init commit, kabinet

#41 fix kabinet world bug
  src/components/kabinet/IdeaCard.js
  src/pages/KabinetDashboard.js
Labels: bug, kabinet

#42 Fix bugs beta
  package-lock.json
  package.json
  server/server.js
  src/helpers/kabinetUtils.js
  src/pages/KabinetTrendings.js
Labels: bug, kabinet

#44 Display Data Tasks,Breaks and Study Data
  package-lock.json
  package.json
  src/components/Focus/Chart.js
  src/components/Focus/DataDropdown.js
  src/components/Focus/DataPopup.js
  src/components/Focus/PinnedTask.js
  src/components/Focus/TaskList.js
  src/components/Focus/TaskPopup.js
  src/components/Focus/Timer.js
  src/components/Focus/styles/Chart.scss
  src/components/Focus/styles/DataDropdown.scss
  src/components/Focus/styles/PinnedTask.scss
  src/components/Focus/styles/TaskPopup.scss
  src/components/generic/Navbar.js
  src/pages/Datapage.js
  src/pages/Focus.js
  src/pages/styles/Focus.scss
  src/redux/actions/studyData.js
  src/redux/reducers/studyData.js
Labels: focus
